<ion-header>
  <ion-navbar color="meal">
    <ion-title>
      Ajouter un repas
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label floating>Date</ion-label>
    <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="meal.date" name="date"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label floating>Heure</ion-label>
    <ion-datetime displayFormat="HH:mm" [(ngModel)]="meal.time" name="time"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label floating>Commentaire</ion-label>
    <ion-textarea [(ngModel)]="meal.comment" name="comment"></ion-textarea>
  </ion-item>

  <ion-item>
    <ion-label floating>Ajouter un aliments</ion-label>
    <ion-input [(ngModel)]="searchQuery" (input)="getItems($event)"></ion-input>
  </ion-item>

  <ion-list *ngIf="showAutocomplete">
    <ion-item *ngFor="let food of foodItems">
      {{ food[3] }}
      <button ion-button clear item-right (click)="addItem(food)">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-item>
  </ion-list>

  <div margin-top margin-bottom>
    <ion-chip color="meal" *ngFor="let food of meal.food">
      <ion-label>{{ food[3] }}</ion-label>
      <button ion-button clear (click)="removeItemAt($index)" color="light">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-chip>
  </div>

  <button (click)="slides.slideNext()" ion-button block color="meal-accent">
    Enregistrer
  </button>
</ion-content>
